@media (max-width: 1160px) {
  html {
    height: -webkit-fill-available;
  }

  body {
    margin: 3em;
    height: -webkit-fill-available;
  }

  h1 {
    font-size: 2em;
    padding-top: 0;
    text-align: center;
    margin: 2em -1em 1em -1em;
  }

  /* AGE VERIFICATION */
  .age-verification {
    top: 100%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    font-size: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(-50%, -100%);
  }

  .age-verification .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .age-verification .question {
    margin: 1em;
    text-align: center;
  }

  #button-18plus,
  #button-minor {
    width: 80%;
  }

  /* NAVIGATION */
  .header {
    bottom: 0;
    height: 6em;
    top: initial;
    padding-bottom: 1vh;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease-in-out;
  }

  .header--hidden {
    transform: translateY(100%);
  }

  .navigation-contents {
    display: none;
  }

  .mobile-navigation-contents {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .mobile-navigation-contents img {
    width: 2em;
    height: 2em;
  }

  #home {
    width: 4em;
    height: 4em;
  }

  /* WRAPPER */
  .wrapper {
    margin: 114px auto;
    margin-bottom: 0;
  }

  /* PRODUCT SHOWCASE */
  .PRODUCT-SHOWCASE {
    height: 36em;
    top: -4em;
    position: relative;
  }
  
  .product {
    position: relative;
  }

  .product-display-container {
    min-width: 8em;
    height: 23.5em;
    margin-right: 5em;
  }

  .product-display-previous img, .product-display-new img {
    width: 12em;
  }

  .product-name {
    display: none;
  }

  .selector .menu {
    flex-direction: row;
  }
  
  .selector .menu .row {
    flex-direction: column;
  }

  .selector .menu .row .circle {
    width: 5em;
    height: 5em;
  }

  .tasty-branding {
    position: absolute;
  }

  .tasty-logo-container {
    width: 0;
    right: 16em;
    height: 36em;
    position: relative;
    bottom: 3em;
    left: -11.5em;
  }

  .taste-name {
    left: 50%;
    top: 60vh;
    width: 90vw;
    z-index: 100;
    min-height: 1em;
    font-weight: 600;
    text-align: center;
    position: absolute;
    border-radius: 30px;
    padding: 0.1em;
    transform: translateX(-50%);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-color: var(--blur-bg-dark);
  }
  
  .tasty-logo-previous img, .tasty-logo-new img {
    width: 8em;
  }

  .nicotine-is-bad {
   font-size: 1.5em;
   padding-bottom: 2.5em;
  }

  .product-description {
    min-width: 10em;
  }

  /* SHARE QBOX */
  .share-qbox-contents {
    margin-top: -1em;
  }

  .qr-code img {
    width: 14em;
  }

  .click-on-me {
    font-size: 2em;
  }

  /* WHY QBOX */
  .marketing101 {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 2em;
  }

  .emphasize {
    padding: 5%;
  }

  .slides-container {
    height: 140em;
    display: flex;
  }

  .left-element,
  .right-element {
    z-index: 40;
    flex-basis: 50%;
    position: relative;
  }

  .left-element {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .right-element {    
    right: 50%;
    transform: translateX(50%);
  }

  .phrase {
    width: 150%;
    /* padding: 1em 1em 1em 1em; */
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }

  .middle-element {
    width: 0;
    flex-basis: 0;
  }

  .middle-element img {
    top: 15%;
    width: 12em;
  }

  .first-word {
    font-size: 2em;
    font-weight: 600;
  }

  .rest {
    font-size: 1em;
    font-weight: 400;
  }

  /* FAQ */
  .faq-block {
    width: 80%;
  }

  .faq-block:hover {
    padding: 1em 2em 1em 2em;
  }

  .faq-block-content {
    font-weight: 400;
  }

  .contact-us-link {
    font-size: 1em;
    background-color: var(--sat-white);
  }

  /* CONTACT US */
  .CONTACT-US {
    display: initial;
  }

  .contact-box {
    gap: 1em;
    width: 62vw;
    padding: 1em;
    flex-direction: column;
  }

  .info-placeholder {
    gap: 0.5em;
    margin-left: 0;
  }

  /* FOOTER */
  .FOOTER {
    gap: 2em;
    margin-top: 7em;
    align-items: center;
    padding-bottom: 10em;
  }

  .FOOTER .company-info {
    text-align: left;
    align-items: start;
  }
}
